<footer>
  <div class="contact">
    <h4>Contacto</h4>
    <p>
      <i class="fa-solid fa-phone"></i>
      +57 3124567890
    </p>
    <p>
      <i class="fa-solid fa-envelope"></i>
      citas@mail.com
    </p>
  </div>
  <div class="address">
    <h4>Ubicacion</h4>
    <p>
      <i class="fa-solid fa-location-dot"></i>
      calle 14 # 18 - 146, Arbelaez Cundinamarca
    </p>
  </div>
  <div class="social">
    <h4>Redes Sociales</h4>
    <p>
      <i class="fa-brands fa-facebook"></i>
      facebook
    </p>
    <p>
      <i class="fa-brands fa-instagram"></i>
      @citasMedicas
    </p>

    <p>
      <i class="fa-brands fa-whatsapp"></i>
      +57 3004212343 & +57 3004212343
    </p>
  </div>
</footer>
