<header>
  <div class="header">
    <h1><i class="fa-regular fa-hospital"></i> Central De Citas</h1>
    <div class="header__content-navigation">
      <i class="fa-solid fa-bars" (click)="showNavigation()" *ngIf="!identityUser"></i>
      <ul class="navigation" *ngIf="!identityUser">
        <li><a routerLink="registro">Registrarse</a></li>
        <li><a routerLink="iniciar-sesion">Ingresar</a></li>
        <li><a routerLink="">Inicio</a></li>
      </ul>
      <div class="content-user" (click)="showNavigationUser()" *ngIf="identityUser">
        <i class="fa-solid fa-user"></i> {{identityUser.name}} <i class="fa-sharp fa-solid fa-caret-right"></i>
      </div>

      <ul class="navigation-user" *ngIf="identityUser && role == 'paciente'">
        <li><a routerLink="sistema/perfil">Perfil</a></li>
        <li><a>Cambiar Contraseña</a></li>
        <li><a (click)="logout()">Salir</a></li>
      </ul>

      <ul class="navigation-user" *ngIf="identityUser && role == 'administrador'">
        <li><a routerLink="administrador/perfil">Perfil</a></li>
        <li><a>Cambiar Contraseña</a></li>
        <li><a (click)="logout()">Salir</a></li>
      </ul>

      <ul class="navigation-user" *ngIf="identityUser && role == 'empleado'">
        <li><a routerLink="gestion/perfil">Perfil</a></li>
        <li><a>Cambiar Contraseña</a></li>
        <li><a (click)="logout()">Salir</a></li>
      </ul>

    </div>
  </div>

</header>
