@import "../../../styles.scss";

@media screen and (max-width: 500px) {
  header{
    width: 100%;
    min-height: 50px;
    height: 50px;
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;

    .header{
      width: 90%;
      min-height: 50px;
      height: 50px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      margin: 0 auto;

      h1{
        font-size: 1.3rem;

        ::before{
          font-size: 1.6rem;
        }
      }

      &__content-navigation{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;

        i{
          font-size: 1.4rem;
          color: $color-secondary;
          margin-left: auto;
          padding: 5px 10px;
          cursor: pointer;
          transition: .3s ease all;
        }

        i:hover{
          border-radius: 50%;
          background-color: rgba($color: $color-primary, $alpha: 32);
        }

        i.arrow-rigth{
          transform: rotate(90deg);
        }

        .navigation{
          position: absolute;
          left: auto;
          width: 100%;
          background-color: $color-secondary;
          min-height: 106px;
          height: auto;
          border-radius: 5px;
          z-index: 1000;
          top: 37px;
          visibility: hidden;
          opacity: 0;
          transform: scaleY(0);
          transition: .3s ease all;
          border: 1px solid $color-primary;

          li{
            width: 100%;
            border-bottom: 1px solid $color-primary;
          }

          li:last-child{
            border-bottom: none;
            border-end-end-radius: 5px;
          }

          li a{
            display: block;
            padding: 8px 5px;
            transition: .5s ease all;
            color: $color-primary;

          }

          li a:hover{
            background: $color-primary;
            color: $color-secondary;
          }

        }

        .navigation-active{
          visibility: visible;
          opacity: 1;
          transform: scaleY(1);
        }

        .content-user{
          display: inline-block;
          padding: 5px 8px;
          color: $color-secondary;
          font-size: 1.2rem;
          text-transform: capitalize;
          border-radius: 5px;
          align-items: center;
          cursor: pointer;
          transition: .3s ease all;

          i{
            display: inline-block;
            font-size: 1.4rem;
            padding: 0;
            margin: 0;
          }
        }

        .content-user:hover{
          background-color: rgba($color: $color-primary, $alpha: 32);

        }

        .navigation-user{
          width: 100%;
          position: absolute;
          left: auto;
          top: 40px;
          background-color: $color-secondary;
          border: 1px solid $color-primary;
          min-height: 106px;
          border-radius: 5px;
          transform: scaleY(.1);
          transition: .3s ease all;
          opacity: 0;
          visibility: hidden;
          z-index: 1000;

          li{
            border-bottom: 1px solid $color-primary;

            a{
              display: block;
              padding: 8px 5px;
              cursor: pointer;
              transition: .3s ease all;
              color: $color-primary;
            }

            a:hover{
              background-color: rgba($color: $color-primary, $alpha: 32);
              color: $color-secondary;
            }
          }

          li:last-child{
            border-bottom: none;
          }

        }

        .navigation-user-active{
          visibility: visible;
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
  
  .index{
    background-color: $color-secondary;

    .header{
      border-bottom: 1px solid $color-primary;

      h1{
        color: $color-primary;
      }

      &__content-navigation{

        i{
          display: block;
          color: $color-primary;
        }

        i:hover{
          color: $color-secondary;
        }

        .navigation-user{
          li a{
            color: $color-primary;
          }
        }
      }

    }
  }

}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  header{
    width: 100%;
    min-height: 50px;
    height: 50px;
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;

    .header{
      width: 90%;
      min-height: 50px;
      height: 50px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      margin: 0 auto;

      h1{
        font-size: 1.6rem;

        ::before{
          font-size: 1.7rem;
        }
      }

      &__content-navigation{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i{
          display: none
        }



        .navigation {
          display: flex;
          align-items: center;

          li a{
            padding: 5px 10px;
            margin-left: 10px;
            color: $color-secondary;
            cursor: pointer;
            transition: .3s ease all;
          }

          li a:hover{
            text-shadow: 5px 5px 5px rgba($color: $color-primary, $alpha: 32);
          }
        }

        .content-user{
          display: inline-block;
          padding: 10px 10px;
          color: $color-secondary;
          font-size: 1.2rem;
          text-transform: capitalize;
          border-radius: 5px;
          align-items: center;
          cursor: pointer;
          transition: .3s ease all;

          i{
            padding: 0;
            margin: 0;
            border-radius: none;
            display: inline-block;
            font-size: 1.2rem;
          }

          i:hover{
            border-radius: none;
            background-color: transparent;
          }

          i.arrow-rigth{
            transform: rotate(90deg);
          }
        }

        .content-user:hover{
          background-color: rgba($color: $color-primary, $alpha: 32);

        }

        .navigation-user{
          width: 75%;
          position: absolute;
          left: auto;
          top: 45px;
          background-color: $color-secondary;
          border: 1px solid $color-primary;
          min-height: 106px;
          border-radius: 5px;
          transform: scaleY(.1);
          transition: .6s ease all;
          opacity: 0;
          visibility: hidden;
          z-index: 1000;

          li{
            border-bottom: 1px solid $color-primary;

            a{
              display: block;
              padding: 8px 5px;
              cursor: pointer;
              transition: .3s ease all;
              color: $color-primary;
            }

            a:hover{
              background-color: rgba($color: $color-primary, $alpha: 32);
              color: $color-secondary;
            }
          }

          li:last-child{
            border-bottom: none;
          }

        }
        .navigation-user-active{
          visibility: visible;
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }

  .index{
    background-color: $color-secondary;

    .header{
      border-bottom: 1px solid $color-primary;

      h1{
        color: $color-primary;
      }

      &__content-navigation{

        i{
          display: none;
          color: $color-primary;
        }

        i:hover{
          color: $color-secondary;
        }

        .navigation{
          li a{
            color: $color-primary;
          }
        }
      }

    }
  }
}

@media screen and (min-width: 1001px) {
  header{
    width: 100%;
    min-height: 50px;
    height: 50px;
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;

    .header{
      width: 90%;
      min-height: 50px;
      height: 50px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      margin: 0 auto;

      h1{
        font-size: 1.8rem;

        ::before{
          font-size: 1.9rem;
        }
      }

      &__content-navigation{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i{
          display: none
        }

        .navigation {
          display: flex;
          align-items: center;

          li a{
            padding: 5px 10px;
            margin-left: 10px;
            color: $color-secondary;
            cursor: pointer;
            transition: .3s ease all;
          }

          li a:hover{
            text-shadow: 5px 5px 5px rgba($color: $color-primary, $alpha: 32);
          }
        }

        .content-user{
          display: inline-block;
          padding: 10px 10px;
          color: $color-secondary;
          font-size: 1.2rem;
          text-transform: capitalize;
          border-radius: 5px;
          align-items: center;
          cursor: pointer;
          transition: .3s ease all;

          i{
            display: inline-block;
            font-size: 1.4rem;
          }

          i.arrow-rigth{
            transform: rotate(90deg);
          }
        }

        .content-user:hover{
          background-color: rgba($color: $color-primary, $alpha: 32);
        }

        .navigation-user{
          width: 40%;
          position: absolute;
          left: auto;
          top: 45px;
          background-color: $color-secondary;
          border: 1px solid $color-primary;
          min-height: 106px;
          border-radius: 5px;
          transform: scaleY(.1);
          transition: .3s ease all;
          opacity: 0;
          visibility: hidden;
          z-index: 1000;

          li{
            border-bottom: 1px solid $color-primary;

            a{
              display: block;
              padding: 8px 5px;
              cursor: pointer;
              transition: .3s ease all;
              color: $color-primary;
            }

            a:hover{
              background-color: rgba($color: $color-primary, $alpha: 32);
              color: $color-secondary
            }
          }

          li:last-child{
            border-bottom: none;
          }

        }

        .navigation-user-active{
          visibility: visible;
          transform: scaleY(1);
          opacity: 1;
        }

      }
    }
  }

  .index{
    background-color: $color-secondary;

    .header{
      border-bottom: 1px solid $color-primary;

      h1{
        color: $color-primary;
      }

      &__content-navigation{

        i{
          display: none;
          color: $color-primary;
        }

        i:hover{
          color: $color-secondary;
        }

        .navigation{
          li a{
            color: $color-primary;
          }
        }
      }

    }
  }

}

