@import "./fonts.scss";
*{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 16px;
  font-display: swap;

}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:7px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: green;
  // border-radius: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

h1, h2, h3{
  font-size: $font-size;
  font-weight: $font-weight;
  color:white;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  width: 100%;
  min-height: 500px;
  height: auto;
  max-height: auto;
}

.form-control{
  display: block;
  margin-bottom: 15px;

  label{
    display: block;
    color: green;
    font-size: .9rem;
  }

  input,
  select{
    height: 30px;
    width: 100%;
    outline-color: green;
    padding: 2px 5px;
    color: green;
    box-sizing: border-box;
    font-size: .9rem;
    font-weight: 300;
  }
}

button{
  border: none;
  padding: 10px 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 2.5px;
}

button:hover{
  box-shadow: 2px 2px 2px black;
}

span{
  bottom: 20px;
  min-width: 24%;
  width: 34%;
  max-width: 70%;
  min-height: 30px;
  max-height: auto;
  position: sticky;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  transition: .3s ease all;
  padding: 5px 10px;
  line-height: 30px;
  font-size: 1.2rem;

  i{
    font-size: 1.3rem;
  }
}

.success{
  text-align: center;
  background-color: green;
  color: white;
}

.error{
  text-align: center;
  color: white;
  background-color: red;
}


.error-valid{
  color: red;
  font-size: 14px;
  display: block;
}
