<div class="registration">
  <div class="registration_header">
    <h1>Registrarse</h1>
    <p>Bienvenido al Sistema de citas, al registrarse acepta los terminos y condiciones de la aplicacion</p>
  </div>

  <div class="registration_body">

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-control">
        <label for="name">Nombres Completos</label>
        <input type="text" name="name" id="name" minlength="3" maxlength="20" required>
      </div>

      <div class="form-control">
        <label for="lastname">Apellidos Completos</label>
        <input type="text" name="lastname" id="lastname" minlength="3" maxlength="20">
      </div>

      <div class="form-control">
        <label for="type_document">Tipo de documento</label>
        <select name="type_document" id="type_document" required>
          <option value="">Seleccione tipo de documento</option>
          <option value="cedula de ciudadania">Cedula de ciudadania</option>
          <option value="Libreta militar">Libreta Militar</option>
        </select>
      </div>

      <div class="form-control">
        <label for="document">Numero de documento</label>
        <input type="text" name="document" id="document" minlength="7" maxlength="20" required>
      </div>

      <div class="form-control">
        <label for="phone">Numero de telefono</label>
        <input type="tel" name="phone" id="phone" minlength="10" maxlength="10" required>
      </div>

      <div class="form-control">
        <label for="email">Correo Electronico</label>
        <input type="email" name="email" id="email" required>
      </div>

      <div class="form-control">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" minlength="8" maxlength="12" required>
      </div>

      <div class="form-control">
        <label for="passConfirm">Confirmar Contraseña</label>
        <input type="password" name="passConfirm" id="passConfirm" minlength="8" maxlength="12">
      </div>

      <button type="submit">Registrarse</button>

    </form>

  </div>
</div>

