@media screen and (max-width: 500px) {
  .registration{
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    border: 1px solid green;
    padding: 15px;


    &_header{
      margin-bottom: 10px;
      h1{
        color: green;
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
    }

    &_body{
      min-height: 400px;
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .registration{
    width: 80%;
    min-height: 300px;
    margin: 80px auto;
    border: 1px solid green;
    padding: 30px;

    &_header{
      margin-bottom: 10px;
      h1{
        color: green;
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
    }

    &_body{
      min-height: 100%;

      form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
      }

      button{
        width: 40%;
      }

    }

  }
}


@media screen and (min-width: 1000px) {
  .registration{
    width: 70%;
    min-height: 400px;
    margin: 80px auto;
    border: 1px solid green;
    padding: 30px;

    &_header{
      margin-bottom: 20px;
      h1{
        color: green;
        font-size: 1.3rem;
        margin-bottom: 5px;
      }
    }

    &_body{
      min-height: 100%;

      form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;

        .form-control {
          margin-bottom: 30px;
        }

        button{
          width: 40%;
        }

      }


    }

  }
}
