<div class="content-profile">
  <app-navigation-left></app-navigation-left>

  <div class="content-profile__body">
    <div class="content-profile__body__header">
      <h1>Actualizar datos</h1>
    </div>

    <div class="content-profile__body__body">
      <form #f="ngForm" (submit)="onSubmit(f)">
        <div class="form-control">
          <label for="name">Nombres</label>
          <input
            type="text"
            name="name"
            id="name"
            #name="ngModel"
            [(ngModel)]="admin.name"
            pattern="[a-zA-Z\s]{3,20}$"
            required
          >
          <small class="error-valid" *ngIf="!name.valid && name.touched">
            El campo debe contener de 3 a 20 caracteres
          </small>
        </div>

        <div class="form-control">
          <label for="lastname">Apellidos</label>
          <input
            type="text"
            name="lastname"
            id="lastname"
            #lastname="ngModel"
            [(ngModel)]="admin.lastname"
            pattern="[a-zA-Z\s]{3,20}$"
            required
          >
          <small class="error-valid" *ngIf="!lastname.valid && lastname.touched">
            El campo debe contener de 3 a 20 caracteres
          </small>
        </div>

        <div class="form-control">
          <label for="type_document">Tipo de documento</label>
          <input
            type="text"
            name="type_document"
            id="type_document"
            #type_document="ngModel"
            [(ngModel)]="admin.type_document"
            readonly
            required
          >
        </div>

        <div class="form-control">
          <label for="documento">Documento</label>
          <input
            type="text"
            name="documento"
            id="document"
            #document="ngModel"
            [(ngModel)]="admin.document"
            readonly
            required
          >
        </div>

        <div class="form-control">
          <label for="phone">Telefono</label>
          <input
            type="tel"
            name="phone"
            id="phone"
            #phone="ngModel"
            [(ngModel)]="admin.phone"
            pattern="[\d]{10,10}$"
            required
          >
          <small class="error-valid" *ngIf="!phone.valid && phone.touched">
            El campo debe contener 10 caracteres
          </small>
        </div>

        <button type="submit" [disabled]="f.invalid">Actualizar</button>
      </form>
    </div>
  </div>
</div>
