<label for="menu" id="menu"><i class="fa-solid fa-bars"></i> Menu</label>
<nav>
  <ul *ngIf="role == 'paciente'">
    <li><a routerLink="/sistema">Inicio</a></li>
    <li><a routerLink="/sistema/familiares">Nucleo Familiar</a></li>
    <li><a routerLink="/sistema/solicitudes">Solicitar Cita</a></li>
    <li><a routerLink="/sistema/citas">Citas</a></li>
  </ul>

  <ul *ngIf="role == 'administrador'">
    <li><a routerLink="/administrador">Inicio</a></li>
    <li><a routerLink="/administrador/empleados">Empleados</a></li>
    <li><a routerLink="/administrador/especialidades">Especialidades</a></li>
    <li><a routerLink="/administrador/medicos">Medicos</a></li>
  </ul>

  <ul *ngIf="role == 'empleado'">
    <li><a routerLink="/gestion">Inicio</a></li>
    <li><a routerLink="/gestion/citas">Citas</a></li>
  </ul>
</nav>
