<div class="information">
  <h3>Informacion</h3>
  <div class="content">
    <img src="" alt="">
    <p class="content_information">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consectetur modi repellendus fugiat omnis quia aliquid rerum rem error harum totam magnam officia voluptatum recusandae, esse deleniti, culpa earum iure.
    </p>
  </div>
</div>

<div class="information">
  <h3>Horario</h3>
  <div class="content">
    <img src="" alt="">
    <p class="content_information">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus quos, in suscipit aliquid doloribus quia eligendi fugit, corrupti inventore exercitationem aut velit maiores eveniet molestiae iste id soluta nemo facere!
    </p>
  </div>
</div>
