<div class="content-cites">
  <app-navigation-left></app-navigation-left>

  <div class="content-cites__body">
    <div class="content-cites__body__header">
      <h2>Citas Solicitadas</h2>
      <div class="content-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
          type="search"
          name="search"
          id="search"
          #search="ngModel"
          (ngModel)="search"
          (keyup)="searchCite(search.value)"
        >
      </div>
    </div>

    <div class="content-cites__body__body">
      <p class="content_person" #statusHtml *ngFor="let cite of cites; let indice = index" title="Ver" (click)="loadForm(cite.id, cite.status.status)">
        <small class="information"> {{indice+1}} {{cite.name}} {{cite.last_name}}</small>
        <small class="status">{{cite.status.status}}</small>
      </p>
    </div>
  </div>

  <div class="content_info">
    <div class="info">
      <div class="info__header">
        <h1>Cita Medica</h1>
        <div class="close">
          <i class="fa-solid fa-xmark" (click)="closeForm()"></i>
        </div>
      </div>

      <div class="info__body">
        <!-- <i class="fa-solid fa-circle-check"></i> -->
        <i class="fa-regular fa-circle-check"></i>

        <div class="information">
          <p><b>Nombre</b> {{cite.name}}</p>
          <p><b>Apellidos</b> {{cite.last_name}}</p>
          <p><b>Tipo de Documento</b> {{cite.type_document}}</p>
          <p><b>Documento</b> {{cite.document}}</p>
          <p><b>Eps</b> {{cite.eps}}</p>
          <p><b>Telefono</b> {{cite.phone}}</p>
          <p><b>Cita Medica</b> {{cite.speciality.speciality}}</p>
          <p><b>Medico</b> {{cite.doctor.name}}</p>
          <p><b>Dia de la cita</b> {{cite.date_cite}}</p>
          <p><b>Hora de la cita</b> {{cite.hour_cite}}</p>
        </div>

        <button class="">Eliminar</button>
      </div>
    </div>
  </div>

  <div class="overlay">
    <div class="popup">
      <div class="popup__header">
        <h1>Eliminar</h1>
        <i class="fa-solid fa-xmark" (click)="closeOverlay()"></i>
      </div>

      <div class="popup__body">
        <label for="delete">¿Desea Eliminar la cita de {{cite.name}}?</label>
      </div>

      <div class="popup__footer">
        <button class="cancel" (click)="closeOverlay()">Cancelar</button>
        <button class="confirm" (click)="deleteCite(cite.id)">Confirmar</button>
      </div>
    </div>
  </div>

</div>
