<div class="content-cites">
  <app-navigation-left></app-navigation-left>

  <div class="content-cites__body">
    <div class="content-cites__body__header">
      <h2>Citas Solicitadas</h2>
      <div class="content-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
          type="search"
          name="search"
          id="search"
          #search="ngModel"
          (ngModel)="search"
          (keyup)="searchCite(search.value)"
        >
      </div>
    </div>

    <div class="content-cites__body__body">
      <p class="content-person" *ngFor="let cite of cites; let indice = index" title="Ver" (click)="loadForm(cite.id, cite.id_status)">
        <small class="information"> {{indice+1}} {{cite.name}} {{cite.lastname}}</small>
        <small class="status">{{cite.id_status}}</small>
      </p>
    </div>
  </div>

  <div class="content-form">
    <form class="form" #f="ngForm" (submit)="onSubmit(f)">
      <div class="form__header">
        <h1>Cita {{cite.name}}</h1>
        <div class="close">
          <i class="icons fa-solid fa-bell"  title="Notificaciones" (click)="showNotifications()"></i>
          <div class="notifications">
            <p class="content-info">
              <small></small>
              <i class="fa-solid fa-trash"></i>
            </p>

            <p class="content-info">
              <small></small>
              <i class="fa-solid fa-trash"></i>
            </p>
          </div>
          <i class="fa-solid fa-trash" title="Eliminar" (click)="showOverlay()"></i>
          <i class="fa-solid fa-xmark" title="Cerrar" (click)="closeForm()"></i>
        </div>
      </div>

      <div class="form__body">
        <div class="form-control">
          <label for="name">Nombres</label>
          <input
            type="text"
            name="name"
            id="name"
            #name="ngModel"
            [(ngModel)]="cite.name"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="lastname">Apellidos</label>
          <input
            type="text"
            name="lastname"
            id="lastname"
            #lastname="ngModel"
            [(ngModel)]="cite.lastname"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="type_document">Tipo de documento</label>
          <input
            type="text"
            name="type_document"
            id="type_document"
            #type_document="ngModel"
            [(ngModel)]="cite.type_document"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="document">Documento</label>
          <input
            type="text"
            name="document"
            id="document"
            #document="ngModel"
            [(ngModel)]="cite.document"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="phone">Telefono</label>
          <input
            type="tel"
            name="phone"
            id="phone"
            #phone="ngModel"
            [(ngModel)]="cite.phone"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="eps">Eps</label>
          <input
            type="text"
            name="eps"
            id="eps"
            #eps="ngModel"
            [(ngModel)]="cite.eps"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="speciality">Cita medica</label>
          <input
            type="text"
            name="speciality"
            id="speciality"
            #speciality="ngModel"
            [(ngModel)]="cite.speciality"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="doctor">Doctor</label>
          <input
            type="text"
            name="doctor"
            id="doctor"
            #doctor="ngModel"
            [(ngModel)]="cite.doctor"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="date">Fecha programada</label>
          <input
            type="text"
            name="date"
            id="date"
            #date="ngModel"
            [(ngModel)]="cite.date"
            readonly
          >
        </div>

        <div class="form-control">
          <label for="hour">Hora Programada</label>
          <input
            type="text"
            name="hour"
            id="hour"
            #hour="ngModel"
            [(ngModel)]="cite.hour"
            readonly
          >
        </div>

      </div>
      <button type="submit" *ngIf="cite.id_status == 'Pendiente' ">Actualizar</button>
    </form>
  </div>

  <div class="overlay">
    <div class="popup">
      <div class="popup__header">
        <h1>Eliminar</h1>
        <i class="fa-solid fa-xmark" (click)="closeOverlay()"></i>
      </div>

      <div class="popup__body">
        <label for="delete">¿Desea Eliminar la cita de  {{cite.name}}?</label>
        <textarea
          name="reason"
          id=""
          cols="30"
          rows="10"
          placeholder="Motivo ha eliminar la cita"
        ></textarea>
      </div>
    </div>
  </div>
</div>
