@media screen and (min-width: 500px) {
  .container-home{

    &__content{
      min-height: 500px;
      width: 95%;
      margin: 0 auto;

      .content-header{
        color: green;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        padding-right: 10px;
        cursor: pointer;

        .fa-solid.fa-bars{
          font-size: 1.2rem;
          color: green;

        }

        .fa-solid.fa-bars:hover {
          text-shadow: 5px 5px 10px green;
          cursor: pointer;
        }
      }

      .content-header:hover{
        text-shadow: 5px 5px 10px;
      }

      .content-body{
        min-height: 470px;
        max-height: auto;
        border: 1px solid green;

        .navigation-left{
          display: none;
        }

      }
    }

  }

}

@media screen and (min-width: 501px) and (max-width: 1000px){

  .content-body{

    .navigation-left{
      display: none;
    }
  }
}

@media screen and (min-width: 1001px) {
  .container-home {
    margin-top: 20px;

    .container-home__navigation{
      display: none;
    }

    .container-home__content .content-header{
      display: none;
    }

    .content-body{
      width: 100%;
      display: grid;
      grid-template-columns: 20% 78%;
      border: none;
      column-gap: 20px;

      .navigation-left{
        display: block;
      }

      .information{
        width: 100%;
        // border: 1px solid green;
        min-height: 500px;
        border-radius: 5px;
        box-shadow: -0px -2.5px 10px rgba(0, 80, 0, .5);
      }
    }
  }
}
